{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="Decorando pagina principal">
        <meta name="author" content="JMS">
        <link rel="icon" href="../../favicon.ico">

        <title>Decorando</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/website.css" %}">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Decorando</h3>
                            <nav class="nav nav-masthead">
                                <a class="nav-link active" href="#">Inicio</a>
                                <a class="nav-link" href="#">Servicios</a>
                                <a class="nav-link" href="#">Contacto</a>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">¡Llegó Halloween!</h1>
                        <p class="lead">Ofrecemos servicios para eventos como decoración y comida para que te concentres en lo que realmente es importante.</p>
                        <p class="lead">
                          <a href="#" class="btn btn-lg btn-secondary">Lo que ofrecemos</a>
                        </p>
                    </div>

                    <!-- <div class="page-header">
                        {% if user.is_authenticated %}
                            <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                        {% endif %}
                    </div>
                    <div class="content container">
                        <div class="row">
                            <div class="col-md-8">
                            {% block content %}
                            {% endblock %}
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </body>
</html>