{% extends "main/base.html" %}

{% block content %}
    <div class="masthead clearfix">
        <div class="inner">
            <h1 class="masthead-brand">Decorando</h1>
            <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Inicio</a>
                <a class="nav-link" href="servicios">Servicios</a>
                <!-- <a class="nav-link" href="#">Galería</a> -->
                <a class="nav-link" href="contacto">Contacto</a>
            </nav>
        </div>
    </div>

    <div class="inner cover">
        <h1 class="cover-heading">Tu casa + linda</h1>
        <p class="lead">Ofrecemos servicios de decoración y ambientación en eventos temáticos para que te concentres en lo que realmente es importante.</p>
        <p class="lead">
          <a href="servicios" class="btn btn-lg btn-secondary">Más información</a>
        </p>
    </div>
{% endblock %}